In [1]:
# library
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('BankChurners.csv')
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

# Basic Info

In [3]:
df.shape

(10127, 23)

In [4]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

Field Explanation:
* CLIENTNUMï¼šClient number - Unique identifier for the customer holding the account
* Attrition_Flagï¼šFlag indicative of account closure in next 6 months (between Jan to Jun 2013)
* Customer_Ageï¼šAge of the account holder
* Genderï¼šGender of the account holder
* Dependent_countï¼šNumber of people financially dependent on the account holder
* Education_Levelï¼šEducational qualification of account holder (ex - high school, college grad etc.)
* Marital_Statusï¼šMarital status of account holder (Single, Married, Divorced, Unknown)
* Income_Categoryï¼šAnnual income category of the account holder
* Card_Categoryï¼šCard type depicting the variants of the cards by value proposition (Blue, Silver and Platinum)
* Months_on_bookï¼šNumber of months since the account holder opened an an account with the lender
* Total_Relationship_Countï¼šTotal number of products held by the customer. Total number of relationships the account holder has with the bank (example - * retail bank, mortgage, wealth management etc.)
* Months_Inactive_12_monï¼šTotal number of months inactive in last 12 months
* Contacts_Count_12_monï¼šNumber of Contacts in the last 12 months. No. of times the account holder called to the call center in the past 12 months
* Credit_Limitï¼šCredit limit
* Total_Revolving_Balï¼šTotal amount as revolving balance
* Avg_Open_To_Buyï¼šOpen to Buy Credit Line (Average of last 12 months)
* Total_Amt_Chng_Q4_Q1ï¼šChange in Transaction Amount (Q4 over Q1)
* Total_Trans_Amtï¼šTotal Transaction Amount (Last 12 months)
* Total_Trans_Ctï¼šTotal Transaction Count (Last 12 months)
* Total_Ct_Chng_Q4_Q1ï¼šChange in Transaction Count (Q4 over Q1)
* Avg_Utilization_Ratioï¼šAverage Card Utilization Ratio
* Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1: generated, not sure, delete!
* Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2: generated, not sure, delete!

In [5]:
df = df.iloc[:, :-2] # drop last 2 columns
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [6]:
pd.value_counts(df.dtypes)

int64      10
object      6
float64     5
dtype: int64

In [7]:
df.describe().style.background_gradient()

# Null

In [8]:
total = df.isnull().sum().sort_values(ascending=False)
Percentage = total / len(df)
Percentage

CLIENTNUM                   0.0
Months_Inactive_12_mon      0.0
Total_Ct_Chng_Q4_Q1         0.0
Total_Trans_Ct              0.0
Total_Trans_Amt             0.0
Total_Amt_Chng_Q4_Q1        0.0
Avg_Open_To_Buy             0.0
Total_Revolving_Bal         0.0
Credit_Limit                0.0
Contacts_Count_12_mon       0.0
Total_Relationship_Count    0.0
Attrition_Flag              0.0
Months_on_book              0.0
Card_Category               0.0
Income_Category             0.0
Marital_Status              0.0
Education_Level             0.0
Dependent_count             0.0
Gender                      0.0
Customer_Age                0.0
Avg_Utilization_Ratio       0.0
dtype: float64

comment: no null value in data set